.custom-dot-list-style .react-multi-carousel-dot button {
    background-color: #9ca3af;
    border: none;
    outline: none;
    position: relative; /* Adjust position if needed */
    bottom: rem; /* Fine-tune the position */
}

.custom-dot-list-style .react-multi-carousel-dot--active button {
    background-color: #FBEA07;
    border: none;
    outline: none;
}

.transparent-button-outline button {
    outline: 2px solid transparent;
    border: none;
}
